@font-face {
    font-family: 'Lato', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Lato");
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #33A0D2;
}

::-webkit-scrollbar-thumb:hover {
    background: #33A0D2;
}

#logo {
    padding: 8px;
}

#barraPesquisa {
    padding: 10px;
    font: 13px;
    color: #999999;
    margin-top: 7px;
    border: 2px solid #33A0D2;
}

#barra {
    padding: 13px;
    top: 5px;
}

.navhome {
    background-color: #33A0D2;
}

.nav-link {
    text-decoration: none;
    color: #1B5C7C;
}

.nav-link:hover {
    background-color: #1B5C7C;
}

.inicio {
    margin-left: 212px;
}

.section_lancamentos {
    margin: 0px;
    padding: 0px;
    height: auto;
    background-image: linear-gradient(to right, white, rgba(0,0,0,.2), white);
    padding: 30px;
}

.div_lancamentos {
    padding: 0px;
    height: auto;
    margin: 0px;
}

.div_title_section {
    padding: 0px;
    margin: 0px
}

.h2_title_section {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald';
    font-size: 20pt;
    margin-top: 30px;
    border-left: 5px solid #33A0D2;
    padding-left: 8px;
}

.item {
    padding: 0px !important;
}

.foto {
    padding: 0px;
    margin-top: 30px;
}

.descricao {
    width: 89%;
    height: 170px;
    margin: -170px 0 0 0;
    opacity: 0;
    transition: 0.7s;
    padding: 0px;
}

.descricao:hover {
    background-color:rgba(0,0,0,.7);
    width: 89%;
    height: 170px;
    margin: -170px 0 0 0;
    opacity: 1;
    padding: 0px;
    transition: 0.7s;
    left: 15px;
}

.section_destaques {
    margin: 0px;
    padding: 0px;
    height: auto;
    background-image: linear-gradient(to right, white, rgba(0,0,0,.2), white);
    margin-top: -30px;
}

.card {
    width: 17em;
    margin-top: 30px;
    left: 13px;
}

.preco {
    font-family: 'Oswald', sans-serif;
    color: #33A0D2;
    top: 15px;
    left: -10px;
    padding: 0px;
}

.de {
    margin: 0px;
    padding: 0px;
}

.por {
    margin: 0px;
    padding: 0px;
}

.comprar {
    color: #33A0D2;
    left: 23px;
    top: 23px;
    padding: 0px;
}

.item_compra {
    font-family: 'Oswald', sans-serif;
    color: #33A0D2;
    margin: 0px;
}

.section_consoles {
    margin: 0px;
    padding: 30px;
    height: auto;
    background-image: linear-gradient(to right, white, rgba(0,0,0,.2), white);
    margin-top: -30px;
}

.section_vendidos {
    margin: 0px;
    padding: 30px;
    height: auto;
    background-image: linear-gradient(to right, white, rgba(0,0,0,.2), white);
    margin-top: -60px;
}

.card-body {
    padding: 0px;
    margin: 0px;
}
